@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
nav .active{
border: 1px solid #E20000;
border-radius: 20px;
}
#inicio{
    background-image: url("../image/fondo-contacto.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.foto-perfil{
    border-radius: 1000px;
    height: 300px;
}
.img-svg{
    vertical-align: middle;
}
.cohete{
    height: 410px;
}
.img-cohete{
    height: 400px;
}
#inicio p{
    color:white;
    font-size: 17px;
    border:1px white solid;
    border-radius: 15px;
    font-weight:600;
}
#sobre mi p{
    color:#6a6a6a;
    font-size: 16px;
}
.shadow{
    border-radius: 15px;
}
#contacto {
    background-image: url("../image/fondo-contacto.png");
    background-size: cover;
}
#proyectos{
    background-image: url("../image/fondo-proyectos.png");
    background-size: cover;
}
#proyectos img{
    height: 212px;
}
.proyecto{
    background-color: white;
}
.proyecto h2{
    font-size: 16px;
    text-transform: uppercase;
    color:white;
    background: linear-gradient(to right, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);
    padding: 16px;
}
.proyecto img{
    height: 212px;
}
.proyecto p{
    font-size: 14px;
    height: 130px;
}

h1 {
    color: #E20000;
}

p {
    color: #6a6a6a;
}

.btn {
    color: #370a6d;
    background-color: white;
    border: 0px;
}

.btn:hover {
    background-color: #370a6d;
    color: white;
}

.btn-whatsapp {
    background-color: #370a6d;
    color: white;
    width: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
    text-align: center;
    padding: 8px 0 15px 0;
    right: 80px;
    position: fixed;
    bottom: 0px;
}
.btn-rojo{
    background-color: #E20000;
    border: 0px;
    border-radius: 15px;
    font-weight: 100;
}
.btn-rojo{
    color: white;
    text-decoration: none;
    border: 0px;
    border-radius: 10px;
}
.fa-solid .fa-donwload{
    color:white;
}
footer {
    color: white;
    font-weight: 300;
}

footer a {
    color: white;
    font-weight: 300;
}

footer .fa-github {
    font-size: 30px;
    color: white;
}

footer .fa-linkedin-in {
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#inicio footer{
    color:white;
    font-weight: 100;
}
#inicio footer .fa-linkedin-in{
    color: white;
}
#proyectos footer{
    color:#E20000;
}
#proyectos footer .fa-github{
    color:#E20000;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#proyectos footer .fa-linkedin-in{
    color:#E20000;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#sobre-mi footer{
    color:#E20000;
}
#sobre-mi footer .fa-github{
    color:#E20000;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#sobre-mi footer .fa-linkedin-in{
    color:#E20000;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
.color-gradiente{
    background: linear-gradient(to right, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);
}
#tecnologias h2{
    font-size: 24px;
    color: white;
}
#tecnologias h3{
    font-size: 14px;
    color: black;
    font-weight: 300;
}
#tecnologia img{
    height: 60px;
}
#tecnologias .cajas{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    height: 182px;
}
#experiencia h2{
color: #370a6d;
font-size: 24px;
font-weight: 400;
}
#experiencia h3{
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 600;
}
#experiencia h4{
    color:#370a6d;
    font-size: 17px;
}
#experiencia h5{
    color: #6A6A6A;
    font-size: 14px;
}
#formacion h2{
    color: #E20000;
    font-size: 24px;
    font-weight: 400;
    }
    #formacion h3{
        color: #6A6A6A;
        font-size: 18px;
        font-weight: 600;
    }
    #formacion h4{
        color:#E20000;
        font-size: 17px;
    }
    #formacion h5{
        color: #6A6A6A;
        font-size: 14px;
    }
#cursos h2{
    color:#E20000;
    font-size: 24px;
    font-weight: 400;
}
    #cursos h3{
        color: #6A6A6A;
        font-size: 18px;
        font-weight: 600;
    }
    #cursos h4{
        color:#E20000;
        font-size: 17px;
    }
    #cursos h5{
        color: #6A6A6A;
        font-size: 14px;
    }
#idiomas .card-idioma{
    border-radius: 15px;
}
#idiomas .card{
    background-color: #370A6D;
    border-radius: 15px;
    padding: 40px 0;
}
#idiomas{
    background-color: #eee;
}
#idiomas h2{
    font-size: 16px;
    font-weight: 600px;
}
#idiomas ul{
    padding: 0px;
    font-size: 14px;
    color: #282828;
    list-style-type: none;
}
#idiomas .fas{
    font-size: 80px;
    color: white;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
#idiomas ul{
    padding: 0px;
    font-size: 14px;
    color: #282828;
    list-style-type: none;
}
div.col-4.text-center.card{
    color: #212529;
    background-color: #370a6d;
    padding: 40px;
}
@media (max-width: 750px) {
    #contacto {
        background-image: url("../images/fondo-proyectos.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #proyectos {
        background-size: contain;
        background-repeat: no-repeat;
    }
}
